:root{
    --branco-principal: #ffffff; 
    --preto-fundo: #00030C;
    --azul-bot達o: #167bF7;
    --cinza-letrinha: #C0C0C0;
    --fonte-principal: 'Inter';
}

body{
    background-color: var(--preto-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
   
}

*{
    margin: 0;
    padding: 0;
}
.principal{
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__bot達o{
    background-color: var(--azul-bot達o);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
   
}
.bot達o_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal); 
}
.container_aviso{
    font-size: 12px;
    color: var(--cinza-letrinha);

}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.secundario__imagem{
    width: 80%;
}
.secundario{
    align-items: center;
    margin: 0 10sssem;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto{
    color: var(--cinza-letrinha);
}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}
.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}
.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}
.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}
.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}
.rodape {
    text-align: center;
    margin: 5em 3em;
}